{% extends 'layout.html' %}
{% set hideBack ="true"%}

{% block pageTitle %}
Details about the cookies we use - {{serviceName}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Choose which cookies we use</h1>
      <p>Let us know which cookies we can use. We'll use a cookie to save your settings for the next 3 calendar months. This setting applies across all our digital services, not just the one you are accessing now.</p>
    </div>

    <div class="nhsuk-u-reading-width">
      <h2>Cookies that measure website use (analytic cookies)</h2>
      <p>These cookies store information about how you use our website, such as the links you click on. We use them to help make our website better.</p>
    </div>

    <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0"
        aria-expanded="false">
        <span class="nhsuk-details__summary-text">
          List of cookies that measure website use
        </span>
      </summary>
      <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">

        <div class="nhsuk-table-responsive app-table-responsive--cookies">
          <table class="nhsuk-table" role="table">
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row" role="row">
                <th class="nhsuk-table__header" role="columnheader" scope="col">Cookie name</th>
                <th class="nhsuk-table__header" role="columnheader" scope="col">Purpose</th>
                <th class="nhsuk-table__header" role="columnheader" scope="col">Expires</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row" role="row">
                <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_ga</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Purpose">	Used by Google Analytics to distinguish unique users by assigning a randomly generated number as a client identifier.</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Expiry">2 years</td>
              </tr>
              <tr class="nhsuk-table__row" role="row">
                <td class="nhsuk-table__cell">_ga_&lt;container_id&gt;</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Google Analytics to distinguish unique users by assigning a randomly generated number as a client identifier.</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Expiry">2 years</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </details>
    

    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" id="cookie-statistics-form">
        <legend class="nhsuk-fieldset__legend nhsuk-heading-s">
          Do you want to allow cookies to measure website use?
        </legend>
    
        <div class="nhsuk-radios" data-module="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="input-statistics" name="measureStatistics" type="radio" value="yes" checked>
            <label class="nhsuk-label nhsuk-radios__label" for="input-statistics">
              Yes
            </label>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="input-statistics-2" name="measureStatistics" type="radio" value="no">
            <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    
    <a href="cookie-confirmation" class="nhsuk-button">
      Save my cookie settings
    </a>
    </div>



  </div>

</div>
{% endblock %}