{% extends 'layout.html' %}
{% set hideBack ="true"%}

{% block pageTitle %}
Your cookie settings have been saved - {{serviceName}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1>Your cookie settings have been saved</h1>

    <p>We'll save your settings for three months.</p>
    <p>We'll ask you if you're still OK with us using cookies when either:</p>
    <ul>
        <li>it's been three months since you last saved your settings</li>
        <li>we add any new cookies or change the cookies we use</li>
    </ul>
    <p>You can also choose which cookies we use at any time.</p>
    <p>Select continue to go back to the page you were looking at.</p>

    <a class="nhsuk-button" href="javascript:history.go(-3)">
        Continue
    </a>

  </div>

</div>
{% endblock %}