<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- You can delete the lines below -->
     


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-width-container">
      
        <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
      
              <h1 class="nhsuk-heading-l">Check the member's details</h1>
              
              
              <p>All the details provided have been taken from the member's record in Compendia. If there are any errors with the data, you will need to change the member's details.</p>

              <h3>Member details</h3>

              <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Membership number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['memberNumber']}}
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Employing authority number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1234
                  </dd>                 
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Mr John Smith
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    National Insurance number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>AB123456J</p>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1 January 1965
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    State pension age
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    67 years
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    First date of scheme membership
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    19 June 2023
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Balance to carry forward (current year)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    £1,034.68
                  </dd>
                </div>
              </dl>

              <h3>Pensionable earnings</h3>
              <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    2025
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    £30,040.01
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    2024
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    £22,273.94
                  </dd>
                </div>
                
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Total pensionable earnings
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>£52,313.95</p>
                  </dd>
                </div>
              </dl>

              <div class="nhsuk-form-group">
                <form action="check-member-details" method="post" class="form">
              
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    <h2 class="nhsuk-fieldset__heading">
                      Do the details match with the member's record on Compendia and with the data provided by the employer?
                    </h2>
                  </legend>
                  <div class="nhsuk-radios" data-module="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example" name="allDetails" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="example">
                        Yes, the details match
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-2" name="allDetails" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        No, the details do not match
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            
              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
            </form>
            </div>
          </div>
        </main>
      </div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
