<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- You can delete the lines below -->
     


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-width-container">
      
        <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
      
              <h1 class="nhsuk-heading-l">Full member details have been found</h1>
              
              
              <p>A case has been found for the membership number that was entered and all of the member's details have been located from the record in Compendia.</p>

              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                  <h3 class="nhsuk-card__heading">Member record
                  </h3>
                  <p class="nhsuk-card__description">Membership number: {{ data['memberNumber']}}<br> Name: John Smith</p>
                </div>
              </div>

              <div class="nhsuk-form-group">
                <form action="full-member-details-found" method="post" class="form">
              
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    <h2 class="nhsuk-fieldset__heading">
                      Do you want to continue with the retrieved member's details?
                    </h2>
                  </legend>
                  <div class="nhsuk-radios" data-module="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example" name="fullDetails" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="example">
                        Yes, use the member's details retrieved
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-2" name="fullDetails" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        No, I will enter the member's details manually
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
            </form>
      
            </div>
          </div>
        </main>
      </div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
