<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- You can delete the lines below -->
     


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-width-container">
      
        <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
      
              <h1>Get a redundancy estimate</h1>
              <p>Use this service to calculate redundancy estimates for NHS Pension Scheme members.</p>
              <h2>Before you start</h2>
              <p>We can only calculate redundancy estimates for members who:</p>
              <ul>
                <li>have at least 2 years of qualifying membership within the Scheme</li>
                <li>have 2 years of continuous service verified by the employer</li>
                <li>have reached the minimum pension age of the Scheme they are part of</li>
                <li>do not have a GP practice as their employing authority</li>
                <li>are part of a direction body, have redundancy provisions in place</li>
              </ul>

              {% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
  html: "<p>If a member does not meet all of the criteria,  you need to inform the requesting employer that we cannot provide an estimate.</p>"
}) }}
      
              <h2>Completing the calculation</h2>
      
              <p>When you start the calculation, we'll ask you to enter all the member data we need to get an estimate. After the data is submitted, the service will create 2 documents:</p>
              <ul>
                <li>a calculation sheet</li>
                <li>an estimate letter, which needs to be sent to the employer</li>
              </ul>
      
              <a class="nhsuk-button" data-module="nhsuk-button" href="schemes" draggable="false" role="button">
                Start now
              </a>
      
            </div>
          </div>
        </main>
      </div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
