<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
{% set hideBack ="true"%}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- You can delete the lines below -->
      <h2 class="nhsuk-heading-l">
        Pensions - Simplify the Scheme
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>
      </h2>
      <hr>


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2>Adhoc screens</h2>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                  Error screens
              </span>
          </summary>

          <div class="nhsuk-details__text">
              

              <table class="nhsuk-table">
                  <thead role="rowgroup" class="nhsuk-table__head">
                      <tr role="row">
                          <th role="columnheader" class="" scope="col">
                              Type of error
                          </th>
                          <th role="columnheader" class="" scope="col">
                              URL
                          </th>
                      </tr>
                  </thead>

                  <tbody class="nhsuk-table__body">

                    <tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">Checkbox error state</td>
                      <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="checkbox-error">Get a redundancy estimate</a></td>
                  </tr>

                      <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">Input field error state</td>
                          <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="date-of-estimate-error">What is the date of estimate?</a></td>
                      </tr>

                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">Multiple input fields error state</td>
                        <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="member-name-error">What is the member's name?</a></td>
                    </tr>

                      <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">Radio button error state</td>
                          <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="redundancy-details-error">How were the redundancy details received?</a></td>
                      </tr>

                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">Text input error state</td>
                        <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="ea-number-error">Enter the Employing Authoritiy (EA) code</a></td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </details>
        


      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
                Kickout screens
            </span>
        </summary>

        <div class="nhsuk-details__text">
            

            <table class="nhsuk-table">
                <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                        <th role="columnheader" class="" scope="col">
                            Page title
                        </th>
                        <th role="columnheader" class="" scope="col">
                            URL
                        </th>
                    </tr>
                </thead>

                <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">We cannot calculate a redundancy for this member</td>
                        <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="scheme-selection-kickout">Scheme selection kickout</a></td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">An estimate cannot be calculated</td>
                      <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="cannot-be-calculated">Cannot be calculated</a></td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Member is over NPA at moment of processing the estimate</td>
                    <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="over-npa">Over the NPA</a></td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">Member is under 55 years old at date of redundancy</td>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="under-55-at-redundancy">Under 55 at date of redundancy</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Member is over NPA at date of redundancy</td>
                <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="over-npa-at-redundancy">Over NPA at date of redundancy</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Member has less than 2 years service at the date of redundancy</td>
              <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="less-than-2-years">Less than 2 years service</a></td>
          </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Pensionable earnings have not been provided for the current financial year</td>
              <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="record-out-of-date">Record not up to date for financial year</a></td>
          </tr>
                </tbody>
            </table>
        </div>
    </details>
      


    </details>

      
      <hr>

      <h2 class="nhsuk-heading-l">
        UCD work
      </h2>
      <p>Refer to the supporting documents below for more information.</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
          <a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7BADB98ABD-0835-40DE-A4C3-836EA7328148%7D&file=Compendia%20sets%20-%20Example%20template.xlsx&action=default&mobileredirect=true" target="_blank">Compendia sets - Example template</a> – Document for users to refer to when usability testing the calculator.
        </li>
        <li>
          <a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7B718A961B-6176-4B9D-92EB-D7A39D71324A%7D&file=EA%20Bulk%20Spreadsheet%20-%20testing%20data.xlsx&action=default&mobileredirect=true" target="_blank">EA Bulk spreadsheet (Dummy data used)</a> – Mock up of the EA bulk spreadsheet to use in testing sessions.
        </li>
        <li>
          <a href="https://miro.com/app/board/uXjVIz2FM5M=/?share_link_id=135441646665" target="_blank">User flow</a> – Miro board for the user flows. <strong>(Password - pensions)</strong>
        </li>
        <li>
          <a href="https://bsa2468.atlassian.net/wiki/spaces/NHSBSAWORK1/pages/5300649985/Team+1+-+Interaction+Design" target="_blank">Design log</a> – Updates that are logged by interaction design.
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
