<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- You can delete the lines below -->
      <h2 class="nhsuk-heading-l">
        Pensions - Simplify the Scheme
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>
      </h2>
      <hr>


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2>Versions</h2>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            V1 & V2 - Clean 2015 Scheme redundancy estimates
          </span>
        </summary>
        
        <div class="nhsuk-details__text">
          <p>This concept was developed as low fidelity wireframes for Versions 1 & 2 of the redundancy calculator. These were concept tested with users on the dates below with a range of users. The concept would require the user to be able to enter in the member's details from Compendia and the EA bulk spreadsheet / AW form into the tool manually. </p>
          <ul>
            <li><strong>UR round 8 Concept testing (V1) </strong> 'One thing per page' design- Conducted on wk 30/06/2025</li>
            <li><strong>UR round 9 Concept testing (V2)</strong> Multi input fields per page design - Conducted on wk 06/08/2025</li>
          </ul>
          <a href="https://miro.com/app/board/uXjVIz2FM5M=/?share_link_id=39934417331" target="_blank" class="nhsuk-button" data-module="nhsuk-button">
            View V1 and V2 (In Miro)
          </button>
          </a>
      
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            V3 - Clean 2015 Scheme redundancy estimate
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This design includes the integration of MIS where member details are pulled from the member's record in Compendia. A happy path journey where the member's details are successfully pulled from MIS can be tested and the manual data entry route for adding in the member's details can also be tested.</p>

          <h3>User journeys for testing</h3>
          <h4>Journey 1 (Happy path)</h4>
          <ul>
            <li>Clean 2015 case</li>
            <li>No complexities found</li>
            <li>Full member details retrieved</li>
            <li>Letter 1 (all 3 options shown)</li>
            <li>Membership number to enter - 123456789</li>
          </ul>

          <h4>Journey 2 (Unhappy path)</h4>
          <ul>
            <li>Clean 2015 case</li>
            <li>No members details located by MIS</li>
            <li>Manual data entry for the member's details</li>
            <li>Letter 1 (all 3 options shown)</li>
            <li>Membership number to enter - 12345678</li>
          </ul>
          
          <a href="mvp/full-data/start" class="nhsuk-button" data-module="nhsuk-button">
            Start here
          </button>
          </a>
  
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            V4 - Clean 2015 Scheme redundancy estimate
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This design includes the integration of MIS where member details are pulled from the member's record in Compendia. Updates to the design were made based on stakeholder decisions made in stakeholder connect meeting (09/10/25).</p>

          <h3>User journeys for testing</h3>
          <h4>Journey 1 (Happy path)</h4>
          <ul>
            <li>Clean 2015 case</li>
            <li>Full member details retrieved</li>
            <li>Letter 1 (all 3 options shown)</li>
            <li>Membership number to enter - 123456789</li>
          </ul>

          <h4>Journey 2 (Unhappy path)</h4>
          <ul>
            <li>Clean 2015 case</li>
            <li>No members details located by MIS</li>
            <li>Manual data entry for the member's details</li>
            <li>Letter 1 (all 3 options shown)</li>
            <li>Membership number to enter - 12345678</li>
          </ul>
          
          <a href="mvp/v4/start" class="nhsuk-button" data-module="nhsuk-button">
            Start here
          </button>
          </a>
 
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            V5 - Clean 2015 Scheme redundancy estimate
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This design includes the integration of MIS where member details are pulled from the member's record in Compendia Touch. Updates to the design were made based on research findings from UR rounds 11 & 12.</p>

          <h3>User journeys for testing</h3>
          <h4>Journey 1 (Scenario 1)</h4>
          <ul>
            <li>Member details retrieved from MIS</li>
            <li>Record on Compendia Touch is updated for the previous financial year</li>
            <li>Redundancy date is in the current financial year</li>
            <li>Redundancy payment does not meet the cap costs letter</li>
            <li>Case requires quality checking</li>
            <li>Membership number to enter - 11697385</li>
          </ul>

          <h4>Journey 2 (Scenario 2)</h4>
          <ul>
            <li>Interest of efficiency case</li>
            <li>Member details are not retrieved from MIS</li>
            <li>Record on Compendia Touch is updated for the previous financial year</li>
            <li>Redundancy date is in the next financial year</li>
            <li>Case does not need quality checking</li>
            <li>Membership number to enter - 67092299 </li>
          </ul>

          <h4>Journey 3 (Scenario 3)</h4>
          <ul>
            <li>Estimate request received by AW295 form</li>
            <li>Record on Compendia is not updated for the previous financial year</li>
            <li>Member has multiple employments</li>
            <li>Redundancy date is in the next financial year</li>
            <li>Case requires quality checking</li>
            <li>Membership number to enter - 78843423 </li>
          </ul>

          <h4>Journey stopper (Scenario 4)</h4>
          <ul>
            <li>Record on Compendia is updated for the previous financial year</li>
            <li>Estimate request received by Bulk spreadsheet</li>
            <li>Member has served less than 2 years service</li>
            <li>Date of estimate to enter - 20/05/2026</li>
            <li>Membership number to enter - 67233221 </li>
          </ul>

          <h4>Journey stopper (Scenario 5)</h4>
          <ul>
            <li>Record on Compendia is updated for the previous financial year</li>
            <li>Estimate request received by Bulk spreadsheet</li>
            <li>Member is over 67 years at date of estimate</li>
            <li>Date of estimate to enter - 15/06/2026</li>
            <li>Membership number to enter - 67233232 </li>
          </ul>

          <h4>Journey stopper (Scenario 6)</h4>
          <ul>
            <li>Estimate request received by AW295 form</li>
            <li>Member has an ERRBO </li>
          </ul>
          
          <a href="mvp/v5/start" class="nhsuk-button" data-module="nhsuk-button">
            Start here
          </button>
          </a>
 
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Adhoc screens
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>This section includes the adhoc screens that a user may see in a journey. This section will have screens such as:</p>
          <ul>
            <li>Error state screens</li>
            <li>Kickout screens</li>
            <li>Footer linked pages</li>
          </ul>

         
          
          <a href="mvp/adhoc/index" class="nhsuk-button" data-module="nhsuk-button">
            Adhoc
          </button>
          </a>
 
        </div>

      </details>

    


      <hr>

      <h2 class="nhsuk-heading-l">
        UCD work
      </h2>
      <p>Refer to the supporting documents below for more information.</p>

      {% from "details/macro.njk" import details %}

{% set dummyNhsNumber = "999 123 4567" %}

{% call details({
  summaryText: "Usability testing supporting documentation"
}) %}
  
  <ul>
    <li><a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7BADB98ABD-0835-40DE-A4C3-836EA7328148%7D&file=Compendia%20sets%20-%20Example%20template.xlsx&action=default&mobileredirect=true" target="_blank">Compendia sets - Example template</a> – Document for users to refer to when usability testing. (Used in UR rounds 11&12)</li>
    <li><a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7B92E11E99-416A-4D28-8689-3F942BAD7484%7D&file=Touch%20Admin%20record%20-%2011697385%20J%20SMITH.xlsx&action=default&mobileredirect=true" target="_blank">Compendia Touch sets - Scenario 1</a> – Document for users to refer to when usability testing. (Used in UR round 13)</li>
    <li><a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7B03E0E673-38F6-4A09-99C7-9349DC19CC75%7D&file=Touch%20Admin%20record%20-%2067092299%20J%20DOE.xlsx&action=default&mobileredirect=true" target="_blank">Compendia Touch sets - Scenario 2</a> – Document for users to refer to when usability testing. (Used in UR round 13)</li>
    <li><a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7BE08E6001-56D3-4336-A11B-808D8E8ED727%7D&file=Compendia%20sets%20-%2078843423%20D%20BECKHAM%20(Scenario3).xlsx&action=default&mobileredirect=true" target="_blank">Compendia sets - Scenario 3</a> – Document for users to refer to when usability testing. (Used in UR round 14)</li>
    <li><a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7B4316E6CC-7A7B-409F-AF7E-2FCECDDB30CA%7D&file=Compendia%20sets%20Scenario%204.xlsx&action=default&mobileredirect=true" target="_blank">Compendia sets - Scenario 4</a> – Document for users to refer to when usability testing. (Used in UR round 14)</li>
    <li><a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7BEB03D890-EE9B-4EB9-AF42-13AD3CF7742D%7D&file=Compendia%20record%20-%2067233232%20T%20NGUYEN%20(scenario5).xlsx&action=default&mobileredirect=true" target="_blank">Compendia sets - Scenario 5</a> – Document for users to refer to when usability testing. (Used in UR round 14)</li>
    <li><a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7B4AC83440-289C-4109-BFBD-74F714C8F843%7D&file=Compendia%20record%20-%2023321231%20C%20JORDAN%20(Scenario6).xlsx&action=default&mobileredirect=true" target="_blank">Compendia sets - Scenario 6</a> – Document for users to refer to when usability testing. (Used in UR round 14)</li>
    <li><a href="https://nhsbsauk.sharepoint.com/:x:/r/teams/DDaTPension/_layouts/15/Doc.aspx?sourcedoc=%7B0178C806-903D-4EFB-9B08-4C2DAF6E57D4%7D&file=EA%20Bulkspreadsheet%20-%205921.xlsx&action=default&mobileredirect=true" target="_blank">EA Bulk spreadsheet (Dummy data used)</a> – Mock up of the EA bulk spreadsheet to use in testing sessions.</li>
  </ul>
{% endcall %}

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
          <a href="https://miro.com/app/board/uXjVIz2FM5M=/?share_link_id=135441646665" target="_blank">User flow</a> – Miro board for the user flows. <strong>(Password - pensions)</strong>
        </li>
        <li>
          <a href="https://bsa2468.atlassian.net/wiki/spaces/NHSBSAWORK1/pages/5300649985/Team+1+-+Interaction+Design" target="_blank">Design log</a> – Updates that are logged by interaction design.
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
