<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- You can delete the lines below -->
     


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-width-container">
      
        <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-panel">
                <h1 class="nhsuk-panel__title">
                  Upload complete
                </h1>
              </div>
      
              
              
              <p>You've uploaded 2 files to SharePoint:</p>
              <ul>
                <li>the member's calculation sheet.</li>
                <li>a redundancy estimate letter.</li>
              </ul>

              <p>You can find them in the <a href="https://nhsbsauk.sharepoint.com/sites/Retiree_Estimate_Prod/Shared%20Documents/Forms/AllItems.aspx?ovuser=cf6d0482%2D86b1%2D4f88%2D8c0c%2D3b4de4cb402c%2CIONSM%40NHSBSA%2ENHS%2EUK&OR=Teams%2DHL&CT=1770716976557&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiI1MC8yNTA5MTExNjAxOCIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D" target="blank">Retiree Estimate folder (opens in a new tab)</a>.</p>

              <h3>What happens next</h3>
              <p>Move these files to your SharePoint folder for reviewing and quality checking. Then run the workflow on Compendia up to Management Check before starting any new calculations.</p>

        
              <form action="download-files" method="post" class="form">
              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Start a new calculation</button>
            </form>
      
            </div>
          </div>
        </main>
      </div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
