<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- You can delete the lines below -->
     


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-width-container">
      
        <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <form action="cannot-be-calculated" method="post" class="form">
      
              <h1 class="nhsuk-heading-l">An estimate cannot be calculated</h1>
              <p>As a membership number could not be found, the calculator cannot complete a redundancy estimate for this member.</p>

              <h2>What happens next</h2>
              <p>Check Compendia for a member account matching the membership number given.</p>
              <p>If a record is found, book out the case in Operations Manager for review by another Pensions Estimate team member and raise an SD request on Halo to report the issue.</p>
              <p>If no record is found, contact the employing authority (EA) for an alternative membership number and pend the case in Operations Manager until the EA replies.</p>

              

              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Start a new calculation</button>
            </form>

      
            </div>
          </div>
        </main>
      </div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
