<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- You can delete the lines below -->
     


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-width-container">
      
        <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              <div class="nhsuk-form-group">
                <form action="schemes" method="post" class="form">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-fieldset__heading"> 
                      Which scheme is the member eligible for redundancy from?
                    </h1>
                  </legend>
                  <p>You can find this information in the 'Service History' set in Compendia. If a member is already at the normal pension age for any of their schemes, they're not eligible for that scheme's redundancy benefits.</p>
                  <div class="nhsuk-radios" data-module="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="scheme-1" name="scheme" type="radio" value="1995">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                        1995 Scheme only
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="scheme-2" name="scheme" type="radio" value="1995 and 2015">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                        1995 and 2015 Schemes
                      </label>
                      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-item-hint">
                        The member is eligible for redundancy from both the 1995 and 2015 Schemes.
                      </div>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="scheme-3" name="scheme" type="radio" value="2008 and 2015">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                        2008 and 2015 Schemes
                      </label>
                      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-item-hint">
                        The member is eligible for redundancy from both the 2008 and 2015 Schemes.
                      </div>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="scheme-4" name="scheme" type="radio" value="2015">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-4">
                        2015 Scheme only
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              
      
              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
            </form>
      
            </div>
          </div>
        </main>
      </div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
